@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=<c2FwLWFsbGl0dmluYXU6bndWdXNoNVE2VDJ5U0xtWWZocDVJaGo0ZkNYeEN0eEk=>
always-auth=true
